@using Server.Starter.Data.Northwind
@using InMemorySampleDatabase.Entities

@namespace Components.BindingSamples

@inject INorthwindService NorthwindService

<h3>Product Table</h3>
@if (_productsData is null)
{
    <p>Loading ...</p>
}
else
{
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Category</th>
                    <th>Name</th>
                    <th>Price (Unit) $</th>
                    <th>Stock</th>
                    <th>Supplier</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var product in _productsData.Items)
                {
                    <tr>
                        <td>@product.Category.CategoryName</td>
                        <td>@product.ProductName</td>
                        <td>@product.UnitPrice</td>
                        <td>@product.UnitsInStock</td>
                        <td>@product.Supplier.CompanyName (@product.Supplier.ContactName)</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="row">
        <div class="col-4"><strong>Total Elements:</strong> </div>
        <div class="col-2"><strong>@_productsData.Total</strong></div>
    </div>
}

@code {

    private PagedResult<Product>? _productsData;

    private string _textInclude = string.Empty;
    private decimal _fromPrize = 0;
    private decimal _toPrice = decimal.MaxValue;
    private int _pageSize = 10;
    private int _pageNumber = 1;
    
    // Page initialization
    protected override async Task OnInitializedAsync()
    {
        // Default load
        Load();
    }

    private void Load()
    {
        _productsData = NorthwindService.GetPaged(_textInclude, _fromPrize, _toPrice, _pageSize, _pageNumber);
    }
}